/*body{background-image: url("../images/watermark.png"); background-repeat: no-repeat; 
	background-attachment: fixed; background-position: center; }*/


	body {  
  display: block;
  position: relative;
}

body::after {
  content: "";
  background: url("../images/watermark.png");
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
/*Nav bar*/
	.navbar{margin-bottom: 0px;}
	.navbar-default .navbar-form, .navbar-collapse{border: none;}
	.navbar-default{background-color: transparent; border-color: transparent;}
	.dashmenu{padding-top: 0px;}
	.dashmenu .container-fluid{float: right;}
	.collapse .navbar-form .btn{margin-bottom: 5px;}
	.navbar-form,.container-fluid>.navbar-collapse,
		.row{margin-right: 0px; margin-left: 0px;}
	.navbar-form .form-group{margin-bottom: 5px;}
	.dashmenuCol, .dashmenu, .dashmenu .navbar-collapse, 
		.dashmenu .container-fluid, .navbar-form{padding-right: 0px;}
	.navbar-form{padding-top:0px; float:right;}	
	.dashmenuCol{clear:both;}	
/*Nav bar*/

/*Grid - Dashboard*/
	.spancenter{width: 50px; text-align: center; display: block;}	
	.dashboard table.table tbody tr:hover{background-color: #FFECE5; cursor: pointer;}	
	
	.profile-menu{padding-right:0px; float:right;}
	.uname{color:white; font-weight:bold; font:inherit; font-family:sans-serif; 
			margin-left:15px; top: -2px; position: relative;}
	.dropdown-menu {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		padding: 0px 0px 10px 0px;
		/*padding: 1px 0 0 0;*/
		border-top-width: 0;
		/*width: 280px;*/
		margin-top: 0;
		right: -1px;
		left: auto;
		display: block;
	}
	.dropdown-menu {
		width:30%;
		position: absolute;
		/*top: 100%;*/
		top: 38%;
		right: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 160px;
		/*padding: 5px 0;*/
		margin: 2px 0 0;
		font-size: 14px;
		text-align: left;
		list-style: none;
		background-color: #fff;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border: 1px solid #ccc;
		border: 1px solid rgba(0,0,0,.15);
		/*border-radius: 4px;*/
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
	}
	.dropdown-menu {
		animation-name: fadeAnimation;
		animation-duration: .7s;
		animation-iteration-count: 1;
		animation-timing-function: ease;
		animation-fill-mode: forwards;
		-webkit-animation-name: fadeAnimation;
		-webkit-animation-duration: .7s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: ease;
		-webkit-animation-fill-mode: forwards;
		-moz-animation-name: fadeAnimation;
		-moz-animation-duration: .7s;
		-moz-animation-iteration-count: 1;
		-moz-animation-timing-function: ease;
		-moz-animation-fill-mode: forwards; -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);}
		.dropdown-menu > li.user-header {
			height: 175px;
			/*padding: 10px;*/
			background: #3c8dbc;
			text-align: center;
		}
		.bg-light-blue {
			background-color: #3c8dbc !important; color: #f9f9f9 !important;
		}
		.dropdown-menu > li.user-header > img {
			z-index: 5;
			height: 90px;
			width: 90px;
			border: 8px solid;
			border-color: transparent;
			border-color: rgba(255, 255, 255, 0.2);
		}
		.img-circle {
			border-radius: 50%;
		}
		img {
			vertical-align: middle;
		}
		.dropdown-menu > li.user-header > p {
			z-index: 5;
			color: #f9f9f9;
			color: rgba(255, 255, 255, 0.8);
			font-size: 17px;
			text-shadow: 2px 2px 3px #333333;
			margin-top: 10px;
		}
		p {
			margin: 0 0 10px;
		}
		.dropdown-menu > li.user-header > p > small {
			display: block;
			font-size: 12px;
		}
		.dropdown-menu > li.user-body {
			padding: 15px;
			border-bottom: 1px solid #f4f4f4;
			border-top: 1px solid #dddddd;
		}
		.dropdown-menu > li.user-footer {
			background-color: #f9f9f9;
			padding: 10px;
		}
		.dropdown-menu:after {
			bottom: 100%;
			right: 10px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #ffffff;
			border-width: 10px;
			margin-left: -10px;
		}
		.top-profile{cursor:pointer;}
		.toppad20{padding-top:20px;}
/*Grid - Dashboard*/

@media (max-width:767px){
	.dashmenu .btn-success, .dashmenu .btn-warning{width: 100%;} 
}
/*.container{opacity:0.5;}*/
.left{float: left;}
.right{float: right;}
.underline{border-bottom: 1px solid green;}
.marleft15{margin-left: 15px;}	
.martop15{margin-top: 15px;}	
.textcenter{text-align: center;}
.valignmiddle{vertical-align: middle;}
.nopad{padding:0px;}
.nopadleft{padding-left:0px;}
.toppad10{padding-top:10px;}
.pad15{padding: 15px;}
#bill_table .pad15{padding: 15px;}
#dropdownMenu1 {top: -2px; cursor: pointer;}
.dropdown-toggle { top: -3px; cursor: pointer; }
.open > .dropdown-menu { left: 369px; width: 24%; top: 150px; }
#bill_table .dropdown-menu > li > a{}
hr, .hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.top-border{display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;}
.martop10{margin-top:10px;}
/*CSF*/
	.custtext{padding-top: 0px; display: block; margin-left: 10px; 
				font-size: 20px; float: left;}	
	.shop-cust h4{float: left; width: 100%;}			
	.csf .adddata .input-medium{padding: 14px;}
	.csf .table{margin-bottom: 0px;}
	.csf .col-sm-6{padding-left: 0px;}
	.csf .col-sm-12{margin-bottom: 15px;}
	.csf h4{float: left; width: 100%;}
	.csf h4.nofloat{width: auto;}
	.csf .vic{padding-left: 15px;}
	.csf hr{margin: 15px; margin-top: 1px;}
	.csf .success{background-color: #dff0d8; padding-left: 15px; 
					border-top: 2px solid #5bb75b; color: #5bb75b;}
	.csf .error{background-color: #f2dede; padding-left: 15px; 
					border-top: 2px solid #da4f49; color: #da4f49;}		
	.csf .adddata{margin-bottom: 35px;}	
	.csf .dlvrdetails .input-medium{padding: 14px;}
	.csf .dlvrdetails .input-xlarge{padding: 14px; float:right; margin-right:16px;}
	.csf .dlvrdetails .input-large{padding: 14px; float:right;}
	.csf .dlvrdetails .delivered_by{/*margin-left:49px;*/}
	.csf .dlvrdetails h6{font-weight: normal; }	
	.csf .dlvrdetails { width: 57%; float:right; margin-right:13px; margin-bottom:15px;}
	.csf .homeshopper .table-bordered,
	 .csf .homeshopper .table-bordered thead, 
	  .csf .homeshopper .table-bordered>tbody>tr>td,
	   .csf .homeshopper .table-bordered>tbody>tr>th, 
	   .csf .homeshopper .table-bordered thead th {border:none;}
	.csf .homeshopper h4{padding-left: 10px; color: #404040;} 
	.csf .headings th, #bill_table .headings{color:#707070;}/*707070*/
	.csf .title{color:#708090;}
	.csf .homeshopper .input-medium, .csf .homeshopper .input-xxlarge, .csf .homeshopper .input-xlarge, .csf .homeshopper textarea{color: #707070;padding: 14px;}	
	.csf .homeshopper .input-xxlarge{width:100%;}
	.csf .homeshopper textarea{min-height: 90px;}	
	.csf .homeshopper .input-medium:hover{cursor: pointer;}	
	.csf .homeshopper .spanInput{display: block; margin-left: 0px;}
	.csf .homeshopper .spanRadio{display: block; margin-left: 5px; 
			margin-top: 3px; color: #707070; font-weight: normal;}	
	.csf .homeshopper .marleft15{margin-left: 15px;}		
	.csf .homeshopper .input-lg{padding: 0px 5px;}		
	.csf .homeshopper .col-xs-3{width: 20%;}	
	.csf .homeshopper td{color:#708090;}/*#707070*/
	.csf .homeshopper .section2 td{padding-top:15px;}
	.csf .btn.delete{background:transparent; background-shadow:none; background-image:none; border:none; border:0px; box-shadow: none; color:#da4f49; padding-left:0px;}

	.csf .pad10{padding:10px;}
	.csf .borderwhite{border:10px solid white;}
	.csf #bill_table{border:1px solid #DDD; border-top: none; border-left: 0px;
		border-right: 0px;}
	.csf #billing_items_div h3, .csf .homeshopper h3{padding-left:10px; border-bottom: 10px solid #FFF; 
		margin-top: 0px; margin-bottom:0px; color:#d9534f; text-align:center;}
	
	.csf .table-striped tbody > tr:nth-child(odd) > td, 
	.csf .table-striped tbody > tr:nth-child(odd) > th {
			background-color: #F6F6F6; 	}
	.csf .table-striped tbody > tr:nth-child(even) > td, 
	.csf .table-striped tbody > tr:nth-child(even) > th {
			background-color: #FFF;}
	.csf .table>tbody>tr>td{padding-top:4px; padding-bottom:0px;}		
	.csf .table>thead>tr>th, .csf .table>tbody>tr>th, .csf .table>tbody>tr>td{border-right:0px; vertical-align:middle; border-left:0px;}
	.csf .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:last-child{
		border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;}
	.csf .trash{text-align:center; width:7%;}
	.csf .table td select.form-control{margin-bottom:4px;}
	.csf .show-oosi, .csf .hide-oosi{float: right; padding-top: 7px; padding-right: 15px; 
		cursor:pointer; /*color:#da4f49;*/ color:#5bb75b;}
	.csf .show-oosi{/*color:#5bb75b;*/ display:none;}
	.csf .hide-oosi{color:#5bb75b;}
	.csf .homeshopper h3{border-bottom:0px; color:#5bb75b;}
	.csf .homeshopper .payment td{padding-top:10px;}	
	.csf h5{color:#707070; font-size: 18px; clear:both;}
	.csf .chosen-container{width:100% !important;}
	.csf .addthissubs{border-radius: 0px; font-weight: bold; position: relative; right: 73px;
		border: 1px solid #e0e0e0; color:grey;}
/*CSF*/	
 
 	.box-border-background{border: 2px solid #D3D3D3; background-color: #dddddd; border-radius: 4px;}
 	.nomar{margin:0px;}
/* Circle image*/
.circle{
	border-radius: 50%;
	display: inline-block;
	background-color:#A0C3FF;
	padding:10px 13px;
}
.top-profile{display: inline-block;
	background-color:#8ABBD7;
	padding:7px 13px; float:right;}
.top-profile .glyphicon{color:#3c8dbc;}
/* Circle image*/

.modal.fade.in{margin:auto;background: none;box-shadow: none;border: none;}
.modal .modal-dialog{width:auto; margin: 0px;}
.modal{height: 58.34%;}

#bill_table .chosen-container-single .chosen-search input[type="text"] {padding: 4px 20px 5px 5px;}