/*body{background-image: url("../images/watermark.png"); background-repeat: no-repeat; 
	background-attachment: fixed; background-position: center; }*/
body { display: block; position: relative;}
body::after {
  content: "";
  background: url("../images/watermark.png");
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: top;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
  width: 100%; 

}
.container {width: 86%;}
/*Nav bar*/
	.navbar{margin-bottom: 0px;}
	.navbar-default .navbar-form, .navbar-collapse{border: none;}
	.navbar-default{background-color: transparent; border-color: transparent;}
	.dashmenu{padding-top: 0px;}
	.dashmenu .container-fluid{float: right;}
	.collapse .navbar-form .btn{margin-bottom: 5px;}
	.navbar-form,.container-fluid>.navbar-collapse,
		.row{margin-right: 0px; margin-left: 0px;}
	.navbar-form .form-group{margin-bottom: 5px;}
	.dashmenuCol, .dashmenu, .dashmenu .navbar-collapse, 
		.dashmenu .container-fluid, .navbar-form{padding-right: 0px; margin-bottom: 2px;}
	.navbar-form{padding-top:0px; float:right;}	
	.dashmenuCol{clear:both;}	
/*Nav bar*/

/*Grid - Dashboard*/	
	.dashboard .spancenter{width: 50px; text-align: center; display: block;}	
	.dashboard .dashboardTBL table.table tbody tr:hover{background-color: #FFECE5; cursor: pointer;}	
	
	.dashboard .profile-menu{padding-right:0px; float:right; margin-right: 15px;}
	.dashboard .uname{color:white; font-weight:bold; font:inherit; font-family:sans-serif; margin-left:25px;}
	
	.dashboard .dropdown-menu {
		animation-name: fadeAnimation;
		animation-duration: .7s;
		animation-iteration-count: 1;
		animation-timing-function: ease;
		animation-fill-mode: forwards;
		-webkit-animation-name: fadeAnimation;
		-webkit-animation-duration: .7s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: ease;
		-webkit-animation-fill-mode: forwards;
		-moz-animation-name: fadeAnimation;
		-moz-animation-duration: .7s;
		-moz-animation-iteration-count: 1;
		-moz-animation-timing-function: ease;
		-moz-animation-fill-mode: forwards; -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);}
	.dashboard .dropdown-menu > li.user-header { height: 175px; /*padding: 10px;*/ background: #3c8dbc; text-align: center; }
	.dashboard .bg-light-blue { background-color: #3c8dbc !important; color: #f9f9f9 !important; }
	.dashboard .dropdown-menu > li.user-header > img { z-index: 5; height: 90px; width: 90px; border: 8px solid;
			border-color: transparent; border-color: rgba(255, 255, 255, 0.2); }
	.dashboard .img-circle { border-radius: 50%; }
	.dashboard 	img { vertical-align: middle; }
	.dashboard .dropdown-menu > li.user-header > p { z-index: 5; color: #f9f9f9; color: rgba(255, 255, 255, 0.8); 
			font-size: 17px; text-shadow: 2px 2px 3px #333333; margin-top: 10px; }
	.dashboard 	p { margin: 0 0 10px; }
	.dashboard .dropdown-menu > li.user-header > p > small { display: block; font-size: 12px; }
	.dashboard .dropdown-menu > li.user-body { padding: 15px; border-bottom: 1px solid #f4f4f4; border-top: 1px solid #dddddd; }
	.dashboard .dropdown-menu > li.user-footer { background-color: #f9f9f9;	padding: 10px; }
	.dashboard .dropdown-menu:after { bottom: 100%; right: 10px; border: solid transparent; content: " ";
			height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #ffffff; border-width: 10px; margin-left: -10px; }
	.dashboard .top-profile{cursor:pointer;}
	.dashboard .toppad20{padding-top:20px;}
	.dashboard .panel-heading { padding: 5px 15px;}
	.dashboard .panel-footer {	padding: 1px 15px; color: #A0A0A0;}
	.dashboard .profile-img { width: 96px; height: 96px; margin: 0 auto 10px; display: block;
				-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
	.dashboard .dropdown-menu{right: 0; left:auto; top:inherit; width: 20%; margin-top: 5px; margin-right: 15px;}	
	.dashboard .usericon{background-image: url("../images/user-icon.png"); background-repeat: no-repeat; }	
	.dashboard .container-fluid > .navbar-header{margin-right: 0px;}
	.dashboard #recentRequests{margin-right: 30px;}
	.dashboard #searchForm .dropdown-menu{width: 50%;}
	.dashboard #searchForm input{padding: 14px; margin-top: 0px;}
	.dashboard #searchForm .dropdown-menu .btn-success{ float: right; margin-right: 15px; margin-top: 10px; }
	.dashboard .OSO{margin-left: 15px; margin-right: 15px; border-radius: 4px; border: 2px solid #f6f6f6; float: left; width: 97.3%; }	
	.dashboard .col-md-12,.dashboard .OSO .col-md-3, .dashboard .OSO .col-md-6 {padding: 5px 0px 5px 5px; float: left;}	
	.dashboard .OSO .data{font-size: 13px;}
	.dashboard .navbar-form.navbar-right:last-child{margin-right: 0px;}
	.dashboard .dashmenu{width: 98.6%;}
	.dashboard .dashmenu #searchForm .dropdown-menu{margin-right: 0px;}
/*Grid - Dashboard*/


@media (max-width:767px){
	.dashmenu .btn-success, .dashmenu .btn-warning{width: 100%;} 
}
.bold{font-weight: bold;}
.title{ color: #2f96b4; font-size: 14px;}
.data{font-size: 13px;}
.maintitle{font-size: 16px; font-weight: bold;}
.left{float: left;}
.right{float: right;}
.underline{border-bottom: 1px solid green;}
.marleft15{margin-left: 15px;}	
.marleft9{margin-left: 9px;}
.martop15{margin-top: 15px;}	
.textcenter{text-align: center;}
.valignmiddle{vertical-align: middle;}
.nopad{padding:0px;}
.nopadleft{padding-left:0px;}
.toppad10{padding-top:10px;}
.pad15{padding: 15px;}
#bill_table .pad15{padding: 1px 5px 0px 5px; margin-bottom: 4px; height:25px;/* */}
.clear{clear: both;}
.floatnone{float: none;}
.f6{background-color: #F6F6F6;}
.ff{background-color: #FFF;}
.dropdown-toggle { top: 0px; cursor: pointer; }
.open > .dropdown-menu { left: 63.6%; width: 33.7%; top: inherit; max-height: 200px; overflow: auto;}
#bill_table .dropdown-menu > li > a{white-space: normal;}
hr, .hr { display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset;
    border-width: 1px; }
.top-border{display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset;
    border-width: 1px;}
.martop10{margin-top:10px;}
.center{text-align:center;}
.custname,span.custname{font-size:40px;}
span.custname{padding-bottom: 10px;}
.font25, span.font25{font-size:25px;}
.padbot5{padding-bottom:5px;}
.font15{font-size:15px;}
.font10{font-size:10px !important;}
.marbot10{margin-bottom:10px; }
.col-sm-7{width: 62%; float: left; padding-left: 0px;}
.blank_space{padding: 7px; float: left;}
.width50{width: 50%}
.width20{width: 20%}
/*CSF*/
	.custtext{padding-top: 0px; display: block; margin-left: 10px; 
				font-size: 20px; float: left;}	
	.shop-cust h4{float: left; width: 100%;}			
	.csf .adddata .input-medium{padding: 14px;}
	.csf .table{margin-bottom: 0px;}
	.csf .col-sm-6{padding-left: 0px;}
	.csf .col-sm-12{margin-bottom: 15px;}
	.csf h4{float: left; width: 100%;}
	.csf h4.nofloat{width: auto;}
	.csf .vic{padding-left: 15px;}
	.csf hr{margin: 15px; margin-top: 1px;}
	.csf .success{background-color: #dff0d8; padding-left: 15px; 
					border-top: 2px solid #5bb75b; color: #5bb75b;}
	.csf .error{background-color: #f2dede; padding-left: 15px; 
					border-top: 2px solid #da4f49; color: #da4f49;}		
	.csf .adddata{margin-bottom: 35px;}	
	.csf .dlvrdetails .input-medium{padding: 14px;}
	.csf .dlvrdetails .input-xlarge{padding: 14px; float:right; margin-right:16px;}
	.csf .dlvrdetails .input-large{padding: 14px; float:left;}
	.csf .dlvrdetails .delivered_by{/*margin-left:49px;*/}
	.csf .dlvrdetails h6{font-weight: normal; }	
	.csf .dlvrdetails { /*width: 57%; float:right; margin-right:13px; margin-bottom:15px;*/
		width: 97.3%;float: left;margin-left: 16px;margin-bottom: 15px;}
	.csf .homeshopper .table-bordered,
	 .csf .homeshopper .table-bordered thead, 
	  .csf .homeshopper .table-bordered>tbody>tr>td,
	   .csf .homeshopper .table-bordered>tbody>tr>th, 
	   .csf .homeshopper .table-bordered thead th {border:none; padding-top:0px; padding-bottom: 5px; line-height: 1;}
	.csf .homeshopper h4{padding-left: 10px; color: #404040;} 
	.csf .headings th, #bill_table .headings{color:#707070;}/*707070*/
	.csf .title{color:#708090; width: 45%;}
	.csf .homeshopper{clear:both;page-break-before: always;margin-left:auto; margin-right:auto;}
	.csf .homeshopper .input-medium, .csf .homeshopper .input-xxlarge, 
		.csf .homeshopper .input-xlarge, .csf .homeshopper textarea{color: #707070; margin:0px; height:30px;}	
	.csf .homeshopper .input-medium{width:44%;}
	.csf .homeshopper .input-xxlarge{width:95%;}
	.csf .homeshopper textarea{min-height: 90px;}	
	.csf .homeshopper .input-medium:hover{}	
	.csf .homeshopper .spanInput{display: block; margin-left: 0px;}
	.csf .homeshopper .spanRadio{display: block; margin-left: 5px; 
			margin-top: 3px; color: #707070; font-weight: normal;}	
	.csf .homeshopper .marleft15{margin-left: 15px;}		
	.csf .homeshopper .input-lg{padding: 0px 5px;}		
	.csf .homeshopper .col-xs-3{width: 20%;}	
	.csf .homeshopper td{color:#708090;}/*#707070*/
	.csf .homeshopper .section2 td{padding-top:0px;}
	.csf .btn.delete{background:transparent; background-shadow:none; background-image:none; border:none; border:0px; box-shadow: none; color:#da4f49; padding-left:0px;}

	.csf .pad10{padding:5px;}
	.csf .borderwhite{border:5px solid white;}
	.csf #bill_table{border:1px solid #DDD; border-top: none; border-left: 0px;
		border-right: 0px;}
	.csf #billing_items_div h3, .csf .homeshopper h3{padding-left:10px; border-bottom: 10px solid #FFF; 
		margin-top: 0px; margin-bottom:0px; color:#d9534f; text-align:center;}
	
	.csf .table-striped tbody > tr:nth-child(odd) > td, 
	.csf .table-striped tbody > tr:nth-child(odd) > th {
			background-color: #F6F6F6; 	}
	.csf .table-striped tbody > tr:nth-child(even) > td, 
	.csf .table-striped tbody > tr:nth-child(even) > th {
			background-color: #FFF;}
	.csf .table>tbody>tr>td{padding-top:4px; padding-bottom:0px;}		
	.csf .table>thead>tr>th, .csf .table>tbody>tr>th, .csf .table>tbody>tr>td{border-right:0px; vertical-align:top; border-left:0px;}
	.csf .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:last-child{
		border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;}
	.csf .trash{text-align:center; width:8%;}
	.csf .table td select.form-control{margin-bottom:4px;}
	.csf .show-oosi, .csf .hide-oosi{float: right; padding-top: 0px; padding-right: 15px; 
		cursor:pointer; /*color:#da4f49;*/ color:#5bb75b;}
	.csf .show-oosi{/*color:#5bb75b;*/ display:none;}
	.csf .hide-oosi{color:#5bb75b;}
	.csf .homeshopper h3{border-bottom:0px; color:#5bb75b;}
	.csf .homeshopper .payment td{padding-top:10px;}	
	.csf h5{color:#707070; font-size: 18px; clear:both;}
	.csf .chosen-container{width:100% !important;}
	.csf .addthissubs{border-radius: 0px; font-weight: bold; position: relative; right: 73px;
		border: 1px solid #e0e0e0; color:grey;}
	.csf #checkID select.input-sm{height:30px !important; }
	.csf td.notes {width:325px;}
	.csf button.delete span img{/*opacity:0.7;*/ vertical-align:top;}
	.csf .shopper_delivered{}
	.csf .shopper_delivered h5{float:left; width:50%; clear:none;}		
	.csf #HSS select{width:97px;padding-bottom: 0px; margin:0px; padding-top: 0px; padding-right: 0px;}
	.csf .topinfo .col-sm-4{padding-right: 0px;}
	.csf .right h4{float:right;}
	.csf .right span{float:left;}
	.csf .right span.custtext{float: right;}
	.csf .col-sm-6.right{padding-right:0px;}
	.csf .shopper_delivered .right{float:right; margin-right:14px;}
	.csf .w202{width:57.6%;}
	.csf .dob .col-xs-3{padding-left:0px; margin-right:3px; margin-right: 15px;}	
	.csf .orderH4 .marright{}
	.csf .vicsavingsH4 .marright{}
	.csf #billing_items_div #bill_table .width{width:90%;}
	.csf .HSStr .height{height:30px; margin:0px;}
	.csf .shopper_delivered h5 div{text-align:center; padding-bottom: 5px;}
	.csf .homeshopper #HStr7 input{width:29%; position: absolute; margin-top: 15px; margin-left: -111px; font-size: 13px;}
	.csf .homeshopper{margin}
	.csf .shopper_delivered .delivered_by{float: right;}	
	.csf #addNewRow{padding: 5px; cursor: pointer;}
	.csf .outofstockrow select{width: 20px; background-image: url("../images/dropdown-arrow.png"); background-repeat: no-repeat; 
		background-color: transparent; border: none; background-position: center; padding: 0px; margin: 0px; }
	.csf .outofstockrow select option{}	
	.csf .outofstockrow select option .si{padding: 7px; border: 1px solid red;}
	.csf .addedinput{border: none; box-shadow: none; padding-left: 0px; width: 100%; padding-top: 5px; background-color: transparent;
		border-radius:0px; color: #708090;}
	.csf .addedtd{width: 31.5%;}
	.csf .marbot10{margin-bottom:10px; }
	.csf .floatnone{float: none;}	
	.csf .sp{font-size: 13px; padding: 0px 14px 0px 14px;}
	.csf .shopper_delivered textarea.input-xxlarge{width:95%;}
	.csf .topinfo .col-sm-7 .label, .csf .topinfo .col-sm-4 .label{width: 100px; text-align: left; padding: 5px 5px 5px 5px;}
	.csf #HStr7 #cc_dd{margin-right: 10px;}	
	.csf .headings th{height: 30px;}		
/*CSF*/		
 
/*ORDER ID*/
#enterorderid{text-align: center; padding: 15px 0px 15px 0px;}
#enterorderid input.pad15{padding: 6px; height: 30px;}
.orderid .col-sm-7{float: none; margin: 0 auto;}
/*ORDER ID*/

 	.box-border-background{border: 2px solid #D3D3D3; background-color: #dddddd; border-radius: 4px;}
 	.nomar{margin:0px;}
/* Circle image*/
.circle{
	border-radius: 50%;
	display: inline-block;
	background-color:#A0C3FF;
	padding:10px 13px;
}
.top-profile{display: inline-block;
	background-color:#8ABBD7;
	padding:7px 13px; float:right;}
.top-profile .glyphicon{color:#3c8dbc;}
/* Circle image*/

.modal.fade.in{margin:auto;background: none;box-shadow: none;border: none;}
.modal .modal-dialog{width:auto; margin: 0px;}
.modal{height: 58.34%;}

#bill_table .chosen-container-single .chosen-search input[type="text"] {padding: 4px 20px 5px 5px;}


/* For the Greater then IE 8 */
 { color: red } /* IE11 */
*::-ms-backdrop, .csf input, .csf select{height:30px;}
*::-ms-backdrop, .csf .homeshopper .spanRadio{margin-top:10px;}
*::-ms-backdrop, .csf .homeshopper .input-lg{padding-right:0px; border-radius:4px;}
*::-ms-backdrop, #bill_table .pad15, .csf .homeshopper .input-medium, .csf .homeshopper .input-xxlarge, .csf .homeshopper .input-xlarge, .csf .homeshopper textarea, .csf .dlvrdetails .input-large{padding-top:0px; padding-bottom: 0px;}
/* For the Greater then IE 8 */

@media print{
	body, body div{border-radius: 0px !important; border: none 0px !important; background: transparent 0px !important; zoom:1;}
	.printnone, .delete, #addNewRow, .hide-oosi, .show-oosi, .btn-success, .btn-primary, 
		.btn-warning, #bill_table tr th:nth-child(3), #bill_table tr td:nth-child(3){display: none;}
	.custname, span.custname{font-size: 20px;}
	#bill_table tr th:nth-child(width: 100%;)
	.topinfo .col-sm-7{width: 40%; float: left;}
	.topinfo .col-sm-4{width: 38%; }
	.topinfo .custtext{font-size: 15px;}
	.col-sm-12{padding-right: 0px;}
	.shopper_delivered h5 div{font-size: 15px;}
	.csf .col-sm-12{margin-bottom: 0px;}
	.csf hr{margin: 0px;}
	#bill_table td, #bill_table th{border: none; background-image: none; background-color: none;}
	.left.nomar h6{line-height: 0;}	
	body .csf .homeshopper .input-medium{border-radius: 0px !important; border: none 0px !important; background: transparent 0px !important;}
	body .csf .dlvrdetails{margin-bottom: 0px !important;}
	.csf .homeshopper .input-medium, .csf .homeshopper .input-xxlarge, 
		.csf .homeshopper .input-xlarge, .csf .homeshopper textarea{border: 1px solid #FFF !important;}
	body .homeshopper li, body .homeshopper ul, body .homeshopper input, body .homeshopper textarea, body .homeshopper select, 
		body .homeshopper div{	border: 1px solid #FFF !important; background-color: transparent !important; 
								box-shadow: none !important; border-radius: 0px !important; background-image: none !important;}	
	.dropdown-menu{display: none;}
	.csf .sp{font-size: 11px;}
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], 
		input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], 
		input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{background-color: transparent !important;
border: none !important;
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
-webkit-transition: inherit !important;
-moz-transition: inherit !important;
-o-transition: inherit !important;
transition: inherit !important;}
.csf .table>tbody>tr>td{line-height: 1.5 !important; }
input[type="text"],select{padding-left: 0px !important;}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 30px 2px 2px;
    border: none;
}
.csf .homeshopper #HStr7 input {
width: 27.5% !important;
position: absolute !important;
margin-top: 10px !important;
margin-left: -111px !important;
font-size: 12px;
}

.csf #HSS select{height: 23px !important; padding-top: 0px !important; margin-top: 0px !important; padding-bottom: 0px !important;}

.form-control {
background-color: #fff !important;
background-image: none !important;
border-color: transparent !important;
border: none !important;
border-radius: 0px !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
-webkit-transition: inherit !important;
-o-transition: inherit !important;
transition: inherit !important;
}

.csf .headings th{line-height: 1.5 !important;}
.csf #HSS select{padding-left: 0px !important; }
.custtext{font-size: 15px !important;}
#bill_table tr td:first-child + td + td{border: 0px solid white;}
.csf .HSStr select{
   background-image: url('../images/blank.png');
   background-repeat: no-repeat;
   background-position: right center;
   padding-right: 20px;
  }
  .pickup{font-size: 15px !important;}
} /* Print ends */